[submodule "UA-ModelCompiler"]
	path = UA-ModelCompiler
	url = https://github.com/mpostol/UA-ModelCompiler.git
[submodule "OPCUA.Common"]
	path = OPCUA.Common
	url = https://github.com/mpostol/OPCUA.Common.git
