<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CAS.UA.Model.Designer.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><userSettings>
		<CAS.UA.Model.Designer.Configuration.Properties.Settings>
			<setting name="UAServerConfigurationFiltr" serializeAs="String">
				<value>Configuration (* .{0})|*.{0}|(* .xml)|*.xml|All files (*.*)|*.*</value>
			</setting>
		</CAS.UA.Model.Designer.Configuration.Properties.Settings>
	</userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.18157" newVersion="7.0.0.18157" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
