<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAClientConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.25005" newVersion="5.1.6.25005" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.Windows.Forms" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.2.24319" newVersion="6.1.2.24319" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAServerConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.25005" newVersion="5.1.6.25005" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RealTime" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.6.23644" newVersion="5.0.6.23644" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>