<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.OPCClassicSDK.Core" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1061.39650" newVersion="2.1.1061.39650" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>