<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Core" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.UA.Common" version="3.00.05" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="UAOOI.SemanticData.BuildingErrorsHandling" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.InformationModelFactory" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UAModelDesignExport" version="5.2.3-Charlie" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UANodeSetValidation" version="5.1.0" targetFramework="net472" />
</packages>