<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="7.0.1-Bravo" targetFramework="net461" />
  <package id="CAS.CommServer.DA.Client" version="2.00.18" targetFramework="net472" />
  <package id="CAS.CommServer.DA.Viewer" version="3.11.17" targetFramework="net472" />
  <package id="CAS.CommServer.DAClientConfiguration" version="5.01.06" targetFramework="net472" />
  <package id="CAS.CommServer.DeviceSimulator" version="5.01.06" targetFramework="net472" />
  <package id="CAS.CommServer.OPCClassic.SDK.COMWrapper" version="2.01.1063" targetFramework="net461" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net461" />
  <package id="CAS.CommServer.UA.ModelCompiler.Command" version="1.11.335.10" targetFramework="net461" />
  <package id="CAS.CommServer.UA.ModelCompiler.Common" version="1.11.335.10" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Core" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.Licenses.Container" version="2.00.06" targetFramework="net461" />
  <package id="CAS.MAML.HelpTopics.Content" version="1.0.3" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.6" targetFramework="net472" />
  <package id="CAS.UA.Common" version="3.00.05" targetFramework="net461" />
  <package id="CAS.Windows.Forms" version="6.1.2" targetFramework="net472" />
  <package id="UAOOI.ASMD.GUIAbstractions" version="1.0.0-Alpha" targetFramework="net472" />
  <package id="UAOOI.Configuration.Core" version="4.0.1" targetFramework="net472" />
  <package id="UAOOI.SemanticData.BuildingErrorsHandling" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.InformationModelFactory" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UAModelDesignExport" version="5.2.0-Alpha" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UANodeSetValidation" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.Windows.Forms" version="7.1.1-Foxtrot" targetFramework="net472" />
</packages>