<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="7.0.1-Bravo" targetFramework="net461" />
  <package id="CAS.CommServer.DA.Client" version="2.00.18" targetFramework="net472" />
  <package id="CAS.CommServer.DA.Viewer" version="3.11.17" targetFramework="net472" />
  <package id="CAS.CommServer.DAClientConfiguration" version="5.01.06" targetFramework="net472" />
  <package id="CAS.CommServer.DeviceSimulator" version="5.01.06" targetFramework="net472" />
  <package id="CAS.CommServer.OPCClassic.SDK.COMWrapper" version="2.01.1063" targetFramework="net461" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Core" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.Licenses.Container" version="2.00.06" targetFramework="net461" />
  <package id="CAS.MAML.HelpTopics.Content" version="1.0.3" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.6" targetFramework="net472" />
  <package id="CAS.Windows.Forms" version="6.1.2" targetFramework="net472" />
  <package id="CsvHelper" version="28.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OOI.ModelCompiler" version="3.1.1" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Core" version="1.4.371.86" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Security.Certificates" version="1.4.369.30" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="UAOOI.ASMD.GUIAbstractions" version="1.0.0-Alpha" targetFramework="net472" />
  <package id="UAOOI.Common.Infrastructure" version="6.4.7" targetFramework="net472" />
  <package id="UAOOI.Configuration.Core" version="6.4.8" targetFramework="net472" />
  <package id="UAOOI.SemanticData.BuildingErrorsHandling" version="6.3.3-Golf" targetFramework="net472" />
  <package id="UAOOI.SemanticData.InformationModelFactory" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UAModelDesignExport" version="6.4.3-Hotel" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UANodeSetValidation" version="6.4.1-Hotel" targetFramework="net472" />
  <package id="UAOOI.Windows.Forms" version="8.1.1-Alpha" targetFramework="net472" />
</packages>