<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="CAS.UA.ModelDesigner" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="LogFile" type="CAS.Lib.CodeProtect.EnvironmentAccess.AdvancedDelimitedListTraceListener,CAS.CodeProtect" 
           initializeData="|ApplicationDataPath|\CAS.OPC.UA.ASMD.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>