<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="CAS.CommServer.UA.ModelDesigner.DesignStudio" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="LogFile" type="CAS.Lib.CodeProtect.EnvironmentAccess.AdvancedDelimitedListTraceListener,CAS.CodeProtect" initializeData="|ApplicationDataPath|\CAS.OPC.UA.ASMD.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.30768" newVersion="6.0.1.30768" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RealTime.Core" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.41271" newVersion="5.0.5.41271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RealTime" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.41272" newVersion="5.0.5.41272" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>