<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="7.0.1-Bravo" targetFramework="net472" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Core" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.Licenses.Container" version="2.00.06" targetFramework="net461" />
  <package id="CAS.UA.Common" version="3.00.05" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="Moq" version="4.16.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.0-preview-20210115-03" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.0-preview-20210115-03" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="UAOOI.ASMD.GUIAbstractions" version="1.0.0-Alpha" targetFramework="net472" />
  <package id="UAOOI.SemanticData.BuildingErrorsHandling" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.InformationModelFactory" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UAModelDesignExport" version="5.2.2-Bravo" targetFramework="net472" />
  <package id="UAOOI.SemanticData.UANodeSetValidation" version="5.1.0" targetFramework="net472" />
  <package id="UAOOI.Windows.Forms" version="7.1.1-Foxtrot" targetFramework="net472" />
</packages>