<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="7.0.1-Bravo" targetFramework="net472" />
  <package id="CAS.CommServer.DAClientConfiguration" version="5.01.06" targetFramework="net472" />
  <package id="CAS.CommServer.DAServerConfiguration" version="5.01.06" targetFramework="net472" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net461" />
  <package id="CAS.CommServer.UA.ConfigurationEditor.ServerConfiguration" version="3.20.4" targetFramework="net472" />
  <package id="CAS.CommServer.UA.Stack.Core" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.6" targetFramework="net472" />
  <package id="CAS.UA.Common" version="3.00.05" targetFramework="net461" />
  <package id="CAS.UA.IServerConfiguration" version="1.00.00" targetFramework="net461" />
  <package id="CAS.Windows.Forms" version="6.1.2" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net472" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net472" />
  <package id="UAOOI.Common.Infrastructure" version="4.0.1" targetFramework="net472" />
  <package id="UAOOI.Configuration.DataBindings" version="2.0.3-Delta" targetFramework="net461" />
  <package id="UAOOI.Configuration.Networking" version="4.0.1" targetFramework="net472" />
</packages>