<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="7.0.1-Bravo" targetFramework="net461" />
  <package id="CAS.CommServer.DA.Client" version="2.00.18" targetFramework="net461" />
  <package id="CAS.CommServer.DA.Viewer" version="3.11.17" targetFramework="net461" />
  <package id="CAS.CommServer.DAClientConfiguration" version="5.01.06" targetFramework="net461" />
  <package id="CAS.CommServer.DeviceSimulator" version="5.01.06" targetFramework="net461" />
  <package id="CAS.CommServer.OPCClassic.SDK.COMWrapper" version="2.01.1063" targetFramework="net461" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Core" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.6" targetFramework="net461" />
  <package id="CAS.Windows.Forms" version="6.1.2" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net461" requireReinstallation="true" />
  <package id="DocumentFormat.OpenXml" version="2.13.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net461" />
  <package id="UAOOI.Common.Infrastructure" version="6.4.1-Hotel" targetFramework="net461" />
  <package id="UAOOI.SemanticData.BuildingErrorsHandling" version="6.3.3-Golf" targetFramework="net461" />
  <package id="UAOOI.SemanticData.InformationModelFactory" version="5.1.0" targetFramework="net461" />
  <package id="UAOOI.SemanticData.UAModelDesignExport" version="6.4.3-Hotel" targetFramework="net461" />
  <package id="UAOOI.SemanticData.UANodeSetValidation" version="6.4.1-Hotel" targetFramework="net461" />
</packages>